.row{
    text-align: center;
    border: solid;
    width: 340px;
    height: 490px;
    padding-top: 15px;
    background-color: black;
    border-radius: 20px;
 
}
.display1{
    height: 73px;
    width: 310px;
    background-color: rgb(14, 15, 15);
    justify-content: flex-end;
    color: aliceblue;
    text-align: right;
    
}
.row2{
    padding-top: 9px;
  
}
.c2{
    height: 73px;
    width: 74px;
    background-color: rgb(59, 61, 62);
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    

}
.row3{
    padding-top: 3px;
}
.container{
    margin-top: 20px;

}
.c1{
    height: 73px;
    width: 74px;
    background-color: orange;
    border-radius: 50px;
    font-weight: bold;
    color: white;


}
.c3{
    height: 73px;
    width: 74px;
    background-color: rgb(150, 151, 153);
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    color: white;


}

